<!DOCTYPE html>
<html>
  <head>
    <title>My URL Shortener</title>
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>My URL Shortener</h1>
    <main>
      <section>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>Enter a URL to shorten:</legend>
            <input id="url_input" type="text" name="url" placeholder="https://example.com" required />
            <input type="submit" value="Shorten URL" />
          </fieldset>
        </form>
      </section>
    </main>
    <footer>
      <p>By <a href="https://www.example.com">Markus Isaksson</a></p>
    </footer>
  </body>
</html>
